$backgroundColor1: #d6d3d0;
$backgroundColor2: #000;

$darkBlue1: #000094;
$darkGreen1: #15ad6e;

$box-borderColor1: #ccc;


$highlightBlue: #3593e6;

$_color-base-grey: rgb(229,231,234);

$palettes: (
    background: (
        base:      #d6d3d0,
    ),

	green: (
		base:      #0f0,
		light: 	   #18b52d,
		dark:	   #15ad6e  
	),
    blue: (
    	base:      #00f,
    	x-light:   #aed1eb,
    	light:     #81a6f7,
    	mid-light: #428bca,
    	dark:	   #000094,
    	x-dark:    #010152
    ),
    grey: (
        base:  $_color-base-grey,
        light: lighten($_color-base-grey, 10%),
        dark: darken($_color-base-grey, 10%)
    )
);

@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}