 body {

 	padding: 10px;
 }

 #main {
 	float: left;
 	width: 650px;
 }

 #details {
 	display: none;

 	border: 2px solid #559;
 	padding: 10px;
 	position: fixed;
 	top: 10px;
 	right: 10px;
 	width: 500px;
 	min-height: 500px;
 	z-index: 1000;
 }

table#personlist {
	width: 640px;
	border: 2px solid #555;
}

table#personlist  td {
  	border: 1px solid #555;
 	width: 110px;
 	padding: 2px;
 }

table#personlist th {
	background-color: #555;
	color: #fff;
	text-align: center;
}

table#personlist td .details {
 	color: #0000aa;
 	padding-left: 15px;
 }

table#personlist td .details:hover {
	text-decoration: underline;
	cursor: default;
}


.sel-person {
	background-color: #8FD0F7;
	font-weight: bold;
}

.sel-person-spouse {
	background-color: #E0BF77;
}

.sel-person-children {
	background-color:  #AFDEBB;
}

.sel-person-siblings { 
	background-color: #CBB0CF;
}

.sel-person-spouse-sibling-warning {
	color: #f00;
}

#chart_div {
	margin: 15px;
}


.details-section {
	padding: 4px;
	margin: 2px;
	border-bottom: 1px solid #aaa;
}

.table-legend {
	border: 1px solid #000;
	margin: 5px;
	padding: 3px;
}

.table-legend td {
	border: 1px solid #000;
	padding: 2px;
}