 body {

 	padding: 10px;
 }

 #main {
 	float: left;
 	width: 650px;
 }

 #details {
 	border: 2px solid #559;
 	padding: 10px;
 	position: fixed;
 	top: 10px;
 	right: 10px;
 	width: 500px;
 	height: 500px;
 	z-index: 1000;
 }

table {
	width: 640px;
	border: 2px solid #555;
}

  td {
  	border: 1px solid #555;
 	width: 110px;
 	padding: 2px;
 }

th {
	background-color: #555;
	color: #fff;
	text-align: center;
}

td .details {
 	color: #0000aa;
 	padding-left: 15px;
 }

td .details:hover {
	text-decoration: underline;
	cursor: default;
}


.sel-person {
	background-color: #8FD0F7;
	font-weight: bold;
}

.sel-person-spouse {
	background-color: #E0BF77;
}

.sel-person-children {
	background-color:  #AFDEBB;
}