doctype hmtl
html(lang="en")
  head
    title #{title}
    link(rel='stylesheet',href='/css/bootstrap.css')
    link(rel='stylesheet',href='/css/bootstrap-theme.css')  
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Oxygen')  
    link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Eagle+Lake')          
    link(rel='stylesheet',href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')       
    link(rel='stylesheet',href='/css/main.css')
  body
    include partials/header

    block content
    
 

    block scripts
      include partials/scripts

    include partials/footer
  

      