.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node-female circle {
  fill: #fff;
  stroke: pink;
  stroke-width: 1.5px;
}

.node-male circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.graph-relation {
	fill: #911F1F;
	font-size: 9px;
}
