

script(src="js/libs/jquery.min.js")  
script(type='text/javascript', src='/socket.io/socket.io.js')
script(src="js/libs/handlebars-v1.3.0.js")   
script(src="js/libs/moment.min.js")   
script(src="js/libs/colors.js")
script(src="js/libs/ember.js")     
script(src="js/app.js")