

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box1($radius) {
	padding: 5px;
	border: 1px solid $box-borderColor1;
	@include border-radius($radius);
}