

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box1($radius) {
	border: 1px solid $box-borderColor1;
	@include border-radius($radius);
}




/*  Background Mixins */


@mixin background-gradient-black1() {
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #010e0f 0%, #010e0f 70%, #222e30 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#010e0f), color-stop(70%,#010e0f), color-stop(100%,#222e30)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#010e0f 0%,#010e0f 70%,#222e30 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#010e0f 0%,#010e0f 70%,#222e30 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#010e0f 0%,#010e0f 70%,#222e30 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#010e0f 0%,#010e0f 70%,#222e30 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#222e30',GradientType=0 ); /* IE6-9 */
}